services:
   app:
      build: . 
      container_name: thrdr-api-v2
      image: node:16-alpine
      volumes:
         - ./:/app
      working_dir: /app
      command: sh -c "npm install && npm run start"
      ports:
         - '5000:5000'
